# --- GUI ---
customtkinter

# --- LangChain Core ---
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters

# --- Document Loaders ---
pymupdf
docx2txt
unstructured[xlsx]

# --- Vector Database ---
chromadb
fastapi
einops
uvicorn
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi

# --- AI Models / Embeddings ---
sentence-transformers
huggingface-hub
hf-transfer

# --- LLM Interface ---
ollama

# --- Utils ---
requests
urllib3

